<div class="flex flex-col items-center w-full mx-auto mt-8 sm:w-4/5">
  <h1 class="mb-8 font-bold text-center text-2xl ">Recipes</h1>
  <% if user_signed_in? %>
    <%= link_to 'Create New Recipe', new_recipe_path, class: "py-2 px-3 border border-[#81bab4] self-end rounded-md" %>
  <% end %>

  <% if @recipes.any? %>
    <ul class="w-full mt-8">
      <% @recipes.each do |recipe| %>
        <li class="bg-white shadow-md rounded-md p-6 mb-6 border border-[#81bab4]  ">
          <div class="flex items-center justify-between mb-4">
            <h2 class="text-lg font-bold capitalize"><%= link_to recipe.name, recipe_path(recipe), class: 'text-blue-600 hover:underline' %></h2>
          <p class="text-gray-600"><%= recipe.description %></p>
          </div>
            <% if recipe.user == current_user %>
              <%= button_to 'Remove', recipe, method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' }, class: 'text-red-600 hover:underline' %>
            <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-gray-600">No recipes found.</p>
  <% end %>
</div>
