<h1>Food List</h1>

<% if @foods.empty? %>
  <p>No foods added.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Add New Food', new_food_path %>
